.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(to right, #3998ab, #ce12d1);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.5rem;
  font-weight: italic;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  height: 2px;
  width: 0;
  background: #fffffff0;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
